<div class="content-title mb-4">
    <div class=" d-flex align-items-start justify-content-start">
        <div class="shape-sm rounded-circle d-flex align-items-center justify-content-center d-inline-block mr-3">
            <i class="mdi mdi-printer mdi-inherit mdi-24px"></i>
        </div>
        <div>
            <h3 class="mb-1 text-capitalize font-weight-bold">Penjualan</h3>
            <ol class="breadcrumb pl-0 py-0 bg-gray-300 mb-0">
                <li class="breadcrumb-item"><a href="#">Sales</a></li>
                <li class="breadcrumb-item"><a href="#">Recipe</a></li>
                <li class="breadcrumb-item"><a href="#">Print</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ tr_sales_recipe.id }}</li>
            </ol>
        </div>
    </div>
</div>
<div class="content-page rounded mb-0 p-0">
    <div class="loading rounded" ng-show="loading">
        <div class="showbox d-flex align-items-center justify-content-center">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
    </div>
    <div class="content-page-header px-4 pt-4 rounded-top">
        <div class="row">
            <div class="col-md-12 d-inline-flex align-items-center">
                <div class="content-title d-flex align-items-center justify-content-start">
                    <h5 class="mb-0 text-capitalize font-weight-bold">Resep</h5>
                </div>
            </div>
            <div class="col-md-12">
                <div class="dropdown-divider border-0 mb-0 mt-4"></div>
            </div>
        </div>
    </div>
    <div class="content-page-body px-4 bg-gradient-gray-500">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <div class="print-out mt-4 mb-4 p-3 bg-white">
                    <h6 class="text-center">Apotek "<span class="font-weight-bold">Pulosari</span>"</h6>
                    <p style="font-size: 11px !important; line-height: 16px" class="mb-0 text-center">Jl. Pulosari III, Surabaya.</p>
                    <p style="font-size: 11px !important; line-height: 16px" class="mb-0 text-center">Telp/WA: 081330104464</p>
                    <table class="table table-borderless mb-2" style="margin-top:4px;">
                        <tbody>
                            <tr>
                                <td class="text-left pl-0 pb-0" style="font-size: 11px;">
                                    <div>{{ tr_sales_recipe.id }}</div>
                                    <div>{{ tr_sales_recipe.patient }}</div>
                                </td>
                                <td class="text-right pr-0 pb-0" style="font-size: 11px;">
                                    <div>{{ tr_sales_recipe.date }}</div>
                                    <div>{{ tr_sales_recipe.time }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mb-0 mt-2" style="border: 2px solid #1e1e1e; margin-bottom: 1px !important;"></div>
                    <div class="mb-0 mt-0" style="border: 1px solid #1e1e1e;"></div>
                    <table class="table table-borderless mb-1" style="margin-top:4px;">
                        <tbody ng-repeat="item in tr_sales_recipe.details">
                            <tr>
                                <td class="pl-0 pb-0 text-right" width="24" style="font-size: 11px;">{{ 1 | currency:'':0 }}</td>
                                <td class="text-left pl-2 pb-0 pr-0" style="font-size: 11px;">
                                    {{ item.medicineName }}
                                </td>
                                <td class="pl-0 pb-0 text-right" width="56" style="font-size: 11px;">{{ item.subtotal | currency:'':0 }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <td class="p-0" colspan="4">
                                    <div class="mb-2 mt-2" style="border: 1px dashed #1e1e1e"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-0 text-right pr-1" style="font-size: 11px;" width="24">{{ tr_sales_recipe.details.length }}</td>
                                <td class="p-0 text-right text-uppercase" style="font-size: 11px;">Total Harga</td>
                                <td class="p-0 text-center" width="10" style="font-size: 11px;">:</td>
                                <td class="p-0 text-right" width="100" style="font-size: 11px;">{{ tr_sales_recipe.grandTotal | currency:'':0 }}</td>
                            </tr>
                            <tr>
                                <td class="p-0 text-right pr-2" style="font-size: 11px;" width="24"></td>
                                <td class="p-0 text-right text-uppercase" style="font-size: 11px;">Tunai</td>
                                <td class="p-0 text-center" width="10" style="font-size: 11px;">:</td>
                                <td class="p-0 text-right" width="100" style="font-size: 11px;">{{ tr_sales_recipe.payment | currency:'':0 }}</td>
                            </tr>
                            <tr>
                                <td class="p-0" colspan="4">
                                    <div class="mb-2 mt-2" style="border: 1px dashed #1e1e1e"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-0 text-right pr-2" style="font-size: 11px;" width="24"></td>
                                <td class="p-0 text-right text-uppercase" style="font-size: 11px;">Kembali</td>
                                <td class="p-0 text-center" width="10" style="font-size: 11px;">:</td>
                                <td class="p-0 text-right" width="100" style="font-size: 11px;">{{ tr_sales_recipe.balance | currency:'':0 }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mb-0 mt-2" style="border: 2px solid #1e1e1e; margin-bottom: 1px !important;"></div>
                    <div class="mb-2 mt-0" style="border: 1px solid #1e1e1e;"></div>
                    <div class="text-uppercase text-center" style="font-size: 11px">Semoga lekas sembuh</div>
					<div class="text-uppercase text-center" style="font-size: 11px">Terima Kasih</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page-footer bg-gray-100 px-4 py-3 rounded-bottom" id="myTab">
        <div class="row">
            <div class="col-md-12 text-right">
                <a ui-sref="admin-trSalesRecipe-recap" class="btn btn-light d-inline-flex justify-content-center align-items-center px-4 waves-effect waves-dark">Kembali</a>
                <button class="btn btn-gradient-secondary elevation-z1 d-inline-flex justify-content-center align-items-center px-4 waves-effect waves-dark" ng-click="print()"> 
                    Cetak
                    <i class="mdi mdi-printer mdi-20px d-flex align-items-center ml-2"></i>
                </button>
            </div>
        </div>
    </div>
</div>