<div class="p-4 bg-gray-200">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="" class="col-sm-4 pr-0 col-form-label text-right">Subtotal</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control text-right" ng-model="trSalesRecipeForm.total" ui-number-mask="0" disabled>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row mb-0">
                <label for="" class="col-sm-4 pr-0 col-form-label text-right">Tuslah</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control text-right" ng-model="trSalesRecipeForm.tuslah" ui-number-mask="0" ng-keyup="calcTuslah(this, trSalesRecipeForm)" ng-click="setBlockText(this, $event)">
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr></div>
        <div class="col-md-12">
            <div class="form-group row">
                <label for="" class="col-sm-4 pr-0 col-form-label text-right">Total</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control text-right font-weight-bold" ng-model="trSalesRecipeForm.grand_total" ui-number-mask="0" disabled>
                </div>
            </div>
        </div>
    </div>
</div>