<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="caption font-weight-bold">Pasien</label>
            <input type="text" class="form-control" placeholder="Isi nama pasien..." ng-model="trSalesMix.patient" disabled>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-4">
                    <label class="caption font-weight-bold">Berat</label>
                    <input type="text" class="form-control" placeholder="Isi berat pasien..." ng-model="trSalesMix.weight" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-4">
                    <label class="caption font-weight-bold">Umur</label>
                    <input type="text" class="form-control" placeholder="Isi umur pasien..." ng-model="trSalesMix.age" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th class="text-center text-uppercase" width="50">No</th>
                    <th class="text-center text-uppercase">Nama</th>
                    <th class="text-center text-uppercase" width="175">Harga</th>
                    <th class="text-center text-uppercase" width="125">Tuslah</th>
                    <th class="text-center text-uppercase" width="175">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="medicineMix in trSalesMix.medicineMix">
                    <td>{{ $index + 1 }}</td>
                    <td>
                        <div class="mb-1 font-weight-bold text-primary text-uppercase">{{ medicineMix.medicineMixName }}</div>
                        <div class="text-small text-uppercase font-italic">Komposisi:</div>
                        <ul class="text-uppercase text-small font-italic mb-0">
                            <li ng-repeat="details in medicineMix.details">{{ details.name }}</li>
                        </ul>
                    </td>
                    <td class="text-right">{{ medicineMix.price | currency:"":0 }}</td>
                    <td class="text-right">{{ medicineMix.tuslah | currency:"":0 }}</td>
                    <td class="text-right">{{ medicineMix.subtotal | currency:"":0 }}</td>
                </tr>
                <tr ng-if="trSalesMix.medicineMix.length < 1">
                    <td colspan="6" class="text-center">Keranjang belanja kosong</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right" colspan="2" rowspan="6"></td>
                    <td class="text-right">Subtotal</td>
                    <td class="text-right font-weight-bold" colspan="2">{{ trSalesMix.total | currency:"":0 }}</td>
                </tr>
                <tr>
                    <td class="text-right">Potongan</td>
                    <td class="text-right font-weight-bold" colspan="2">{{ trSalesMix.discount | currency:"":0 }}</td>
                </tr>
                <tr>
                    <td class="text-right">Fee Apoteker</td>
                    <td class="text-right font-weight-bold" colspan="2" style="border-bottom: 3px double #888;">{{ trSalesMix.fee_pharmacist | currency:"":0 }}</td>
                </tr>
                <tr>
                    <td class="text-right">Total</td>
                    <td class="text-right font-weight-bold text-primary" colspan="2">{{ trSalesMix.grand_total | currency:"":0 }}</td>
                </tr>
                <tr>
                    <td class="text-right">Tunai</td>
                    <td class="text-right font-weight-bold" colspan="2" style="border-bottom: 3px double #888;">{{ trSalesMix.payment | currency:"":0 }}</td>
                </tr>
                <tr>
                    <td class="text-right">Kembali</td>
                    <td class="text-right font-weight-bold text-blue" colspan="2">{{ trSalesMix.balance | currency:"":0 }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>