<div class="p-4 bg-gray-200">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="" class="col-sm-4 pr-0 col-form-label text-right">HPP</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control text-right font-weight-bold" ng-model="trPurchase.total" ui-number-mask="2" disabled>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row mb-0">
                <label for="" class="col-sm-4 pr-0 col-form-label text-right">Potongan</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control text-right font-weight-bold" ng-model="trPurchase.discount" ui-number-mask="2" ng-change="calcDiscount(trPurchase)" ng-click="setBlockText(this, $event)">
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr></div>
        <div class="col-md-12">
            <div class="form-group row">
                <label for="" class="col-sm-4 pr-0 col-form-label text-right">Subtotal</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control text-right text-primary font-weight-bold" ng-model="trPurchase.subtotal" ui-number-mask="2" disabled>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row mb-0">
                <label for="" class="col-sm-4 pr-0 col-form-label text-right">PPN</label>
                <div class="col-sm-8">
                    <div class="input-group is-invalid">
                        <div class="input-group-prepend">
                            <span class="input-group-text pr-1" id="validatedInputGroupPrepend">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" ng-click="setPpn(is_ppn); $event.stopPropagation();" ng-checked="is_ppn" ng-disabled="trPurchase.grandTotal < 1">
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </span>
                        </div>
                        <input type="text" class="form-control text-right font-weight-bold" ng-model="trPurchase.ppnPrice" ui-number-mask="2" ng-change="calcBalance(trPurchase)" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr></div>
        <div class="col-md-12">
            <div class="form-group row mb-0">
                <label for="" class="col-sm-4 pr-0 col-form-label text-right">Total</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control text-right text-blue font-weight-bold" ng-model="trPurchase.grandTotal" ui-number-mask="2" disabled>
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr></div>
        <div class="col-md-12">
            <div class="form-group row mb-0">
                <label for="" class="col-sm-4 pr-0 col-form-label text-right">Status</label>
                <div class="col-sm-8">
                    <select name="" id="" class="form-control" ng-model="trPurchase.status">
                        <option value="cod">Cash On Delivery (COD)</option>
                        <option value="credit">Kredit</option>
                        <option value="consignment">Konsinyasi</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>