$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: rgba(0, 0, 0, .87) !default;
$coffee: #101010 !default;
$charcoal: #033335 !default;

$blue: #4285f4 !default;
$indigo: #3f51b5 !default;
$purple: #8e24aa !default;
$pink: #ec407a !default;
$red: #ff3547 !default;
$amber: #FFA000 !default;
$yellow: #fdd835 !default;
$green: #4caf50 !default;
$teal: #20c997 !default;
$cyan: #00bcd4 !default;
$excel: #1D6F42 !default;

$body-bg: $gray-300 !default;

$primary: #417A33 !default;
$secondary: $charcoal !default;
$success: $green !default;
$info: $cyan !default;
$warning: $amber !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(("primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "amber": $amber,
    "yellow": $yellow,
    "purple": $purple,
    "pink": $pink,
    "light": $light,
    "dark": $dark,
    "blue": $blue,
    "black": $black,
    "coffee": $coffee,
    "transparent": transparent,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900,
    "excel": $excel,
    "charcoal": $charcoal,
), $theme-colors);
