.dropdown-menu {
    top: calc(100% + 14px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14);

    .dropdown-item {
        padding: 0 1.5rem;
        height: 2.5rem;

        i.mdi {
            color: $gray-600;
        }

        &.active,
        &:active {
            color: $black;
            text-decoration: none;
            background: $gray-100;
        }
    }
}

.dropdown-content {
    padding-top: 0;
    width: 320px;

    .dropdown-head {
        padding: 1rem 1.5rem;
        background: linear-gradient(to right, lighten($indigo, 5%), $indigo);
        color: white;
        margin-bottom: .5rem;
    }

    .dropdown-item-media {
        white-space: normal;
        padding: .5rem 1.5rem;
        height: auto;

        .media {
            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                object-position: center;
            }

            .media-body {
                h6 {
                    transition: all .2ms ease;
                }
            }
        }

        &:hover {
            .media {
                .media-body {
                    h6 {
                        transition: all .2ms ease;
                        color: $blue;
                    }
                }
            }
        }
    }
}

.dropdown-menu-sm {
    top: calc(100% + 8px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14);

    .dropdown-item {
        padding: 0 .75rem;
        height: 2rem;

        span {
            font-size: .875rem;
        }

        i.mdi {
            color: $gray-600;
        }
    }
}
