.icon-circle {
    font-size: 20px;
    border: 3px solid $gray-400;
    text-align: center;
    border-radius: 50%;
    color: $gray-400;
    font-weight: $font-weight-bold;
    width: 64px;
    height: 64px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    top: 0;

    [class*="ti-"] {
        position: absolute;
        z-index: 1;
        left: 1px;
        right: 0px;
        top: 23px;
    }
}

@each $background,
$bg-val in $theme-colors {
    .wizard-navigation-#{$background} {
        position: relative;

        .progress-with-circle {
            position: relative;
            top: 36px;
            z-index: 0;
            height: 4px;
            background: $gray-400;

            .progress-bar {
                box-shadow: none;
                -webkit-transition: width .3s ease;
                -o-transition: width .3s ease;
                transition: width .3s ease;
            }
        }

        .nav-pills {
            li {
                position: relative;

                .wizard-progress-bar {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 32px;

                    .wizard-bar {
                        width: 0;
                        // transform: translateX(0);
                        height: 4px;
                        background: $gray-400;
                        // transition: all 2s ease;
                    }

                    .wizard-bar.active {
                        width: 50%;
                        height: 4px;
                        background: $bg-val;
                        // transition: all 2s ease;
                    }
                }
            }

            li.active {
                .icon-circle {
                    background: $bg-val;
                    border-color: $bg-val;
                    color: white;
                }
            }
        }
    }
}

.btn.ng-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}
